.button {
  width: 112px;
  height: 32px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 150ms ease-in;
  font-weight: 700;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 1;
}

.primary {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-transform: uppercase;
  background: var(--color-primary);
}

.button:disabled {
  background-color: var(--color-grey-100);
  cursor: not-allowed;
}

.button:disabled:hover {
  opacity: 1;
}

.danger {
  background: var(--color-danger);
  color: var(--color-white);
}

.light {
  border: 1px solid var(--color-grey-400);
  background-color: var(--color-white);
}

.success {
  background-color: var(--color-success);
  color: var(--color-white);
}
