.modal {
  width: 100vw;
  height: 100vh;
  z-index: 50;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(119, 119, 119, 0.8);
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  margin-top: 40px;
  justify-content: end;
}
