.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.body {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.bodyBold {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-grey-300);
}
